kz103-chuhuandong/jquery/jquery05/myeclipse写juery提示插件/spket插件包/spket/plugins/com.spket.grammars_1.6.9/spket/rdf.dtd

<!ELEMENT RDF ANY>
<!ELEMENT Description ANY>
<!ATTLIST Description
	ID ID #IMPLIED
	about CDATA #IMPLIED
	type CDATA #IMPLIED
	bagID CDATA #IMPLIED>
<!ELEMENT li ANY>
<!ATTLIST li
	resource CDATA #IMPLIED
	parseType (Resource|Literal) #IMPLIED>
<!ELEMENT Seq (li*)>
<!ATTLIST Seq
	about CDATA #IMPLIED>
<!ELEMENT Bag (li*)>
<!ATTLIST Bag
	about CDATA #IMPLIED>
<!ELEMENT Alt (li*)>
<!ATTLIST Alt
	about CDATA #IMPLIED>
